.about-me{
    background-color: #171718;
    padding-top: 100px;
    height: auto;
    text-align: center;
}

p{
    font-size:1.5rem;
    color: var(--font);
}

.accent{
  color: var(--accent);
}

.link:hover{
  cursor: pointer;
  text-decoration: underline var(--font);
}

.about-me-text{
  width: 75%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.profile-pic{
  width: 300px;
  height: 300px;
  border-radius: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  background-color: aliceblue;
  background-image: url("../assets//me.jpg");
  background-size: cover;
  border: black 2px solid;
}