.intro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #a7a7a785, #191919ba), url(../assets//city.jpg);
    /* background-image: url(../assets//city.jpg); */
    background-size: cover;
}

.down-arrow{
    color: #c4c4c4;
    position: absolute;
    bottom: 10px;
}

.svg{
    width: 50px;
    margin-left: 30px;
    stroke: #c4c4c4;
    filter: invert(63%) sepia(6%) saturate(2%) hue-rotate(357deg) brightness(96%) contrast(93%);
    transition: 0.2s ease;
}

.svg:hover{
    width: 60px;
    transition: 0.2s ease;
    filter: invert(90%) sepia(15%) saturate(9%) hue-rotate(314deg) brightness(89%) contrast(83%);
}

.icon-grid{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 60px;
}

h1{
    font-size: 5rem;
    color: rgb(221, 221, 221);
}
#hello{
    font-size: 4rem;
    margin-bottom: 20px;
}

