.intro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.down-arrow{
    color: black;
    position: absolute;
    bottom: 10px;
}

.svg{
    width: 50px;
    margin-left: 25px;
}

.icon-grid{
    display: flex;
    grid-template-columns: auto;
    margin-top: 15px;
}

h1{
    font-size: 5rem;
}