.skills{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #171718;
    padding-top: 100px;
}

.skills-grid{
  margin: 0 auto;
  margin-top: 20px;
  max-width: 90%;
  display: grid;
  gap: 5rem;
  /* background-color: aliceblue; */
  align-items: center;
}

@media (min-width: 1250px){
  .skills-grid{
    grid-template-columns: repeat(2,1fr);
  }
}

.skill-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 400px;
    /* border: red 1px solid; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: blueviolet; */
}

.bloc-tabs{
    display: flex;
}

.tabs{
    padding: 10px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    border: black solid 2px;
    border-radius: 20px;
    margin-left: 10px;
    color: var(--font)
}

.accent{
  color: var(--accent);
}

.accent2{
  color: var(--accent2);
}

.accent3{
  color: var(--accent3);
}
  
.active-tabs{
  outline: var(--accent) solid 2px;
}

  .content-tabs {
    flex-grow : 1;
  }
  .content {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: none;
    border: solid black 2px;
    border-radius: 20px;
    color: var(--font)
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }
  
.skills-table{
  font-size: 1.1rem;
  margin-top: 20px;
  /* border: 1px solid white; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
td{
  /* border: 1px solid white; */
  width: 33.3%;
  text-align: left;
}

li{
  padding-left: 5px;
}

.dot-accent1{
  color: var(--accent);
}

.dot-accent2{
  color: var(--accent2);
}

.dot-accent3{
  color: var(--accent3);
}


.skill-li{
  position: relative;
  left: -9px;
  color: var(--font);
}