.top-skills{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

.top-skills-table{
    /* background-color: aliceblue; */
    width: 100%;
    /* border: 1px solid black; */
}

tr{
    height: 30px;
}

table td {
    /* border: 1px solid black; */
    width: 60%;
    vertical-align: bottom;
  }

.td1{
    text-align: right;
}

.td2{
    text-align: left;
    padding-left: 10px;
}