
:root {
  --background: #171718;
  --accent: #23db57;
  --accent2: #23dbd5;
  --accent3: #dbb323;
  --font: rgb(221, 221, 221)
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Courier New', Courier, monospace; */
}

